@import "tailwindcss";

body {
    background-color: #f3f4f6;
    color: #1f2937;
}

/* Shimmer Animation & Skeletons */
.skeleton {
    @apply bg-gray-200 rounded-md relative overflow-hidden;
}

.shimmer::after {
    content: "";
    @apply absolute inset-0;
    background: linear-gradient(90deg,
            transparent 0%,
            rgba(255, 255, 255, 0.4) 50%,
            transparent 100%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}